<!DOCTYPE html>
<html>
  <head>
    <title>SportsList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h2>SoccerLab</h2>
    <%if session[:user_id]%>
      <%=link_to("マイページ","mypage")%>
      <%=link_to("ログアウト","logout",{method:"post"})%>
    <%else%>
        <%=link_to("新規登録","signup")%>
        <%=link_to("ログイン","login")%>
    <%end%>
  </header>
    <%= yield %>
  </body>
</html>
